body {
    background-color: #DDDEF5;
    font-family: 'Chicle', cursive;

  }
  h1{
      font-size: 3em;
  }
 #pics img{
    margin: auto;
    display: block;
 } 
 #pics h3{
    text-align: center;
 }
 #pics button{
    margin:auto; 
    display:block;
 }
  .container {
    background: #fafafa;
    height: 30px;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
  }
  .text {
    margin: 2em auto;
  }
  .bar-container {
    background: #f0f0f0;
    height: 30px;
    width: 100%;
    border-radius: 10px;
  }
  .bar {
  /*  background: #00F260;  /* fallback for old browsers 
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(to left, #0575E6, #00F260);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #95DA8E;  
    height: 30px;
    width: 0%;
    border-radius: 10px;
    transition: width 400ms;
  }
  .btn {
    outline: none;
    margin: 2em auto;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    padding: 1em;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.30);
    cursor: pointer;
    transition: transform 400ms;
    font-family: 'Chicle', cursive;
    font-weight: 600;
    text-align: center;

  }
