<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Chicle" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
        <title>RockCat</title>
    </head>
    <body>
        <div id = "headings"> 
            <h1 id="welcome">RockCat</h1>
            <h2 id="intro">unlock your cat with exercise before it becomes a rock</h2>
            <img src="{{ url_for('static', filename='rock.png') }}" style="width:15%; height:auto; ">    
            <img src="{{ url_for('static', filename='cat.png') }}" style="width:15%; height:auto; ">
        </div>
        
        <div>
            <div id="set_card">
                <form method="post" action="/set">
                    <h2>You completed your goal! </h2>
                    <img src="{{ url_for('static', filename='cat.png') }}" style="width:15%; height:auto; ">

                    <label id="label_times" for="time">Set another:</label>
                    <select id="time" name="time">
                        <option value=1>1 time</option>
                        <option value=2>2 times</option>
                        <option value=3>3 times</option>
                        <option value=4>4 times</option>
                        <option value=5>5 times</option>
                        <option value=6>6 times</option>
                        <option value=7>7 times</option>
                    </select>
                    <input type="submit" class="white_submit">
                </form>
            </div>
        </div>
    </body>
</html>